@charset "UTF-8";
html {
  font-size: 62.5%;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: inherit;
  letter-spacing: 1px;
}

p {
  margin: 0;
  letter-spacing: 1px;
}

body {
  font-size: 1.6rem;
  font-family: 'Hiragino Mincho Pro',serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: underline;
}

.l-section {
  margin-bottom: 150px;
}

.l-seciton__link {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.section-title.--center {
  text-align: center;
}

.section-title.--sp {
  font-size: 1.8rem;
}

@media screen and (min-width: 959px) {
  .section-title.--sp {
    font-size: 3rem;
  }
}

.wrapper {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb {
  padding: 30px 0;
}

.link-btn {
  display: inline-block;
  border-radius: 45px;
  background-color: green;
  height: 45px;
  width: 200px;
  color: #fff;
  text-align: center;
  line-height: 45px;
}

.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact__aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
}

.contact__phone {
  margin-bottom: 50px;
  position: relative;
  font-size: 3rem;
}

@media screen and (min-width: 959px) {
  .contact__phone {
    margin-bottom: 0px;
  }
}

.contact__phone::after {
  content: "24時間受付";
  font-size: 1.6rem;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
}

@media screen and (min-width: 959px) {
  .contact__line {
    height: 100%;
    border-left: 1px solid darkgreen;
  }
}

.l-header {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.gnav {
  display: none;
}

@media screen and (min-width: 959px) {
  .gnav {
    display: block;
  }
}

.gnav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gnav__item + .gnav__item {
  margin-left: 30px;
}

.header-company__name {
  font-size: 2rem;
}

@media screen and (min-width: 959px) {
  .header-company__name {
    font-size: 3rem;
  }
}

.l-footer {
  background-color: green;
  padding-top: 50px;
  padding-bottom: 50px;
}

.l-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.l-footer__bottom {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.footer-company-info {
  font-size: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .footer-company-info {
    font-size: 1.6rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .footer-company-info {
    font-size: 1.6rem;
  }
}

.footer-company-info__name {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

@media screen and (min-width: 959px) {
  .footer-company-info__name {
    font-size: 2.4rem;
  }
}

.footer-company-info__address {
  color: white;
  margin-bottom: 10px;
}

.footer-company-info__phone {
  color: white;
}

.footer-nav {
  display: none;
}

@media screen and (min-width: 959px) {
  .footer-nav {
    margin-left: auto;
    display: block;
  }
  .footer-nav__item + .footer-nav__item {
    margin-top: 10px;
  }
  .footer-nav__item a {
    color: white;
  }
}

.hero {
  background-color: #f5f5dc;
  height: 400px;
  margin-bottom: 50px;
}

.hero__wrapper {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
  position: relative;
}

.hero__txt {
  font-size: 3rem;
  position: absolute;
  top: 50px;
  left: 0px;
}

.aboutus {
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .aboutus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.aboutus__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .aboutus__item {
    margin-bottom: 0;
  }
  .aboutus__item + .aboutus__item {
    margin-left: 20px;
  }
}

.aboutus__body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 10px;
  background-color: rgba(245, 245, 220, 0.3);
}

@media screen and (min-width: 959px) {
  .aboutus__body {
    height: 220px;
  }
}

.aboutus__icon {
  color: darkgreen;
}

.aboutus__title {
  padding-bottom: 10px;
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (min-width: 959px) {
  .aboutus__title {
    font-size: 2rem;
  }
}

.aboutus__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .aboutus__txt {
    font-size: 1.6rem;
  }
}

.aboutus__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.aboutus__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-list {
  margin-bottom: 50px;
}

.service-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 959px) {
  .service-list__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.service-list__item {
  margin-bottom: 50px;
}

.service-list__body {
  padding: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: rgba(245, 245, 220, 0.3);
}

@media screen and (min-width: 959px) {
  .service-list__body {
    padding-left: 20px;
  }
}

.service-list__title {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 959px) {
  .service-list__title {
    font-size: 2rem;
    text-align: left;
  }
}

.service-list__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .service-list__txt {
    font-size: 1.6rem;
  }
}

.service-list__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 959px) {
  .service-list__img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 959px) {
  .service-list__img.--large {
    height: 300px;
    width: 300px;
  }
}

.service-list__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-list__price {
  font-size: 1.4rem;
  margin-top: 30px;
}

@media screen and (min-width: 959px) {
  .service-list__price {
    font-size: 1.6rem;
  }
}

.news-list {
  margin-bottom: 50px;
}

.news-list__item + .news-list__item {
  margin-top: 20px;
}

.news-list__date {
  display: block;
}

@media screen and (min-width: 959px) {
  .news-list__date {
    display: inline;
  }
}

.news-list__body {
  margin-left: 0;
}

@media screen and (min-width: 959px) {
  .news-list__body {
    margin-left: 20px;
  }
}

.page-title__aboutus {
  position: relative;
  font-size: 6rem;
  font-weight: bold;
  color: darkgreen;
  letter-spacing: 10px;
  margin-top: 6rem;
  margin-bottom: 150px;
}

.page-title__aboutus::before {
  content: "About us";
  position: absolute;
  font-size: 2.5rem;
  font-weight: normal;
  top: -3rem;
  left: 1rem;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.greeting__body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 30px;
}

@media screen and (min-width: 959px) {
  .greeting__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
    padding-right: 50px;
    height: 360px;
  }
}

.greeting__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .greeting__txt {
    font-size: 1.6rem;
  }
}

.greeting__signature {
  font-size: 2.4rem;
  text-align: right;
  padding-top: 10px;
}

.greeting__signature--secondary {
  font-size: 1.6rem;
}

.greeting__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .greeting__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 360px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .greeting__img {
    width: 360px;
  }
}

.greeting__img img {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
}

.overview__table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.overview__map {
  height: 300px;
  width: 100%;
  border: 0;
}

@media screen and (min-width: 959px) {
  .overview__map {
    height: 400px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .overview__map {
    height: 400px;
  }
}

table {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  table {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  table {
    font-size: 1.6rem;
  }
}

th, td {
  text-align: left;
  letter-spacing: 1px;
  border-top: 1px solid #dcdcdc;
}

@media screen and (min-width: 959px) {
  th, td {
    padding: 0 30px;
  }
}

th, th:last-child, td, td:last-child {
  border-bottom: 1px solid #dcdcdc;
}

th {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 959px) {
  th {
    width: 100px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  th {
    width: 100px;
  }
}

.page-title__service {
  position: relative;
  font-size: 6rem;
  font-weight: bold;
  color: darkgreen;
  letter-spacing: 10px;
  margin-top: 6rem;
  margin-bottom: 150px;
}

.page-title__service::before {
  content: "Service";
  position: absolute;
  font-size: 2.5rem;
  font-weight: normal;
  top: -3rem;
  left: 1rem;
}

@media screen and (min-width: 959px) {
  .service-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .service-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service-point__item {
  padding: 0px 20px 20px 0px;
}

@media screen and (min-width: 959px) {
  .service-point__item {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .service-point__item {
    width: calc(50% - 20px);
  }
}

.service-point__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkgreen;
}

.service-point__txt {
  font-size: 1.4rem;
  padding: 10px;
}

@media screen and (min-width: 959px) {
  .service-point__txt {
    font-size: 1.6rem;
  }
}

.service-flow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.service-flow__num {
  color: darkgreen;
  font-size: 3rem;
  line-height: 50px;
  text-align: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid darkgreen;
  border-radius: 50%;
}

.service-flow__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-flow__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.service-flow__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .service-flow__txt {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */