@charset "UTF-8";
html {
  font-size: 62.5%;
  height: 100%;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: inherit;
  letter-spacing: 1px;
}

p {
  margin: 0;
  letter-spacing: 1px;
}

body {
  font-size: 1.6rem;
  font-family: 'Hiragino Mincho Pro',serif;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}

input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__wrap {
  max-width: 960px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumb {
  color: gray;
  padding: 15px 0 30px 0;
}

.breadcrumb a {
  color: gray;
}

.breadcrumb__inner i {
  padding: 0 10px;
}

.l-section {
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .l-section {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .l-section {
    margin-bottom: 150px;
  }
}

.l-seciton__link {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .section-title {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .section-title {
    font-size: 2.4rem;
  }
}

.section-title.--center {
  text-align: center;
}

.section-title.--sp {
  font-size: 1.8rem;
}

@media screen and (min-width: 959px) {
  .section-title.--sp {
    font-size: 3rem;
  }
}

.link-btn {
  display: inline-block;
  border-radius: 45px;
  background-color: green;
  height: 45px;
  width: 200px;
  color: #fff;
  text-align: center;
  line-height: 45px;
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  max-width: 960px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
}

@media screen and (min-width: 959px) {
  .gnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 959px) {
  .gnav-list__item + .gnav-list__item {
    margin-left: 30px;
  }
}

.header-company__name {
  font-size: 2rem;
}

@media screen and (min-width: 959px) {
  .header-company__name {
    font-size: 3rem;
  }
}

/*========= ナビゲーションのためのCSS ===============*/
@media screen and (min-width: 0px) and (max-width: 959px) {
  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: -120%;
    left: 0;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: green;
    /*動き*/
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  top: 0;
}

/*ナビゲーションの縦スクロール*/
/*ナビゲーション*/
@media screen and (min-width: 0px) and (max-width: 959px) {
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

/*リストのレイアウト設定*/
@media screen and (min-width: 0px) and (max-width: 959px) {
  #g-nav li {
    list-style: none;
    text-align: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 959px) {
  #g-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
}

/*========= ボタンのためのCSS ===============*/
@media screen and (min-width: 959px) {
  .openbtn {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 959px) {
  .openbtn {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.l-footer {
  background-color: green;
  padding: 50px 0;
}

.l-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-footer__bottom {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.footer-company-info {
  font-size: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .footer-company-info {
    font-size: 1.6rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .footer-company-info {
    font-size: 1.6rem;
  }
}

.footer-company-info__name {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

@media screen and (min-width: 959px) {
  .footer-company-info__name {
    font-size: 2.4rem;
  }
}

.footer-company-info__address {
  color: white;
  margin-bottom: 10px;
}

.footer-company-info__phone {
  color: white;
}

.footer-nav {
  display: none;
}

@media screen and (min-width: 959px) {
  .footer-nav {
    margin-left: auto;
    display: block;
  }
  .footer-nav__item + .footer-nav__item {
    margin-top: 10px;
  }
  .footer-nav__item a {
    color: white;
  }
}

.hero {
  background-image: url(../image/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .hero {
    height: 600px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .hero {
    height: 400px;
  }
}

.hero__wrap {
  max-width: 960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.hero__txt {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 30px;
  left: 40px;
}

@media screen and (min-width: 959px) {
  .hero__txt {
    font-size: 3rem;
  }
}

.aboutus {
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .aboutus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.aboutus__message {
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .aboutus__message {
    text-align: center;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .aboutus__message {
    text-align: center;
  }
}

.aboutus__item {
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .aboutus__item {
    margin-bottom: 0;
  }
  .aboutus__item + .aboutus__item {
    margin-left: 20px;
  }
}

.aboutus__body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 30px 10px 10px 10px;
}

.aboutus__icon {
  color: darkgreen;
}

.aboutus__title {
  padding-bottom: 30px;
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (min-width: 959px) {
  .aboutus__title {
    font-size: 2rem;
  }
}

.aboutus__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .aboutus__txt {
    font-size: 1.6rem;
  }
}

.aboutus__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.aboutus__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-list {
  margin-bottom: 50px;
}

.service-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  place-items: center;
}

@media screen and (min-width: 959px) {
  .service-list__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.service-list__item {
  margin-bottom: 50px;
  width: 100%;
}

.service-list__body {
  padding: 30px 10px 10px 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 959px) {
  .service-list__body {
    padding: 0 0 0 30px;
  }
}

.service-list__title {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 959px) {
  .service-list__title {
    font-size: 2rem;
    text-align: left;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
  }
}

.service-list__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .service-list__txt {
    font-size: 1.6rem;
    padding-top: 10px;
  }
}

.service-list__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (min-width: 959px) {
  .service-list__img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 959px) {
  .service-list__img.--large {
    height: 300px;
    width: 300px;
  }
}

.service-list__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-list__price {
  font-size: 1.4rem;
  margin-top: 30px;
}

@media screen and (min-width: 959px) {
  .service-list__price {
    font-size: 1.6rem;
  }
}

.page-title__aboutus {
  font-size: 3.5rem;
  margin-top: 3rem;
  position: relative;
  font-weight: bold;
  color: darkgreen;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .page-title__aboutus {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__aboutus {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

.page-title__aboutus::before {
  font-size: 2rem;
  content: "";
  position: absolute;
  font-weight: normal;
  top: -3rem;
  left: 0.5rem;
}

@media screen and (min-width: 959px) {
  .page-title__aboutus::before {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__aboutus::before {
    font-size: 2.5rem;
  }
}

.page-title__aboutus::before {
  content: "About us";
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.greeting__body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 30px;
}

@media screen and (min-width: 959px) {
  .greeting__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
    padding-right: 50px;
    height: 360px;
  }
}

.greeting__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .greeting__txt {
    font-size: 1.6rem;
  }
}

.greeting__signature {
  font-size: 2.4rem;
  text-align: right;
  padding-top: 10px;
}

.greeting__signature--secondary {
  font-size: 1.6rem;
}

.greeting__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .greeting__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 360px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .greeting__img {
    width: 360px;
  }
}

.greeting__img img {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
}

.overview__table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.overview__map {
  height: 300px;
  width: 100%;
  border: 0;
}

@media screen and (min-width: 959px) {
  .overview__map {
    height: 400px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .overview__map {
    height: 400px;
  }
}

table {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  table {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  table {
    font-size: 1.6rem;
    width: 100%;
  }
}

th, td {
  text-align: left;
  letter-spacing: 1px;
  border-top: 1px solid #dcdcdc;
}

@media screen and (min-width: 959px) {
  th, td {
    padding: 0 30px;
  }
}

th, th:last-child, td, td:last-child {
  border-bottom: 1px solid #dcdcdc;
}

th {
  width: 70px;
  height: 70px;
  text-align: center;
}

@media screen and (min-width: 959px) {
  th {
    width: 120px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  th {
    width: 120px;
  }
}

.page-title__service {
  font-size: 3.5rem;
  margin-top: 3rem;
  position: relative;
  font-weight: bold;
  color: darkgreen;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .page-title__service {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__service {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

.page-title__service::before {
  font-size: 2rem;
  content: "";
  position: absolute;
  font-weight: normal;
  top: -3rem;
  left: 0.5rem;
}

@media screen and (min-width: 959px) {
  .page-title__service::before {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__service::before {
    font-size: 2.5rem;
  }
}

.page-title__service::before {
  content: "Service";
}

@media screen and (min-width: 959px) {
  .service-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .service-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service-point__item {
  padding: 10px;
}

@media screen and (min-width: 959px) {
  .service-point__item {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .service-point__item {
    width: calc(50% - 20px);
  }
}

.service-point__title {
  font-size: 2.4rem;
  font-weight: bold;
  color: darkgreen;
}

@media screen and (min-width: 959px) {
  .service-point__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .service-point__title {
    font-size: 3rem;
  }
}

.service-point__txt {
  font-size: 1.4rem;
  padding: 10px;
}

@media screen and (min-width: 959px) {
  .service-point__txt {
    font-size: 1.6rem;
  }
}

.service-flow {
  margin-bottom: 50px;
}

.service-flow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  height: calc(550px / 5);
}

@media screen and (min-width: 0px) and (max-width: 599px) {
  .service-flow__item {
    height: calc(750px / 5);
  }
}

.service-flow__num {
  color: darkgreen;
  font-size: 3rem;
  line-height: 50px;
  text-align: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid darkgreen;
  border-radius: 50%;
}

.service-flow__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-flow__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.service-flow__txt {
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .service-flow__txt {
    font-size: 1.6rem;
  }
}

.page-title__news {
  font-size: 3.5rem;
  margin-top: 3rem;
  position: relative;
  font-weight: bold;
  color: darkgreen;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .page-title__news {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__news {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

.page-title__news::before {
  font-size: 2rem;
  content: "";
  position: absolute;
  font-weight: normal;
  top: -3rem;
  left: 0.5rem;
}

@media screen and (min-width: 959px) {
  .page-title__news::before {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__news::before {
    font-size: 2.5rem;
  }
}

.page-title__news::before {
  content: "News";
}

.news-list {
  margin-bottom: 50px;
}

.news-list__wrapper {
  max-width: 960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .news-list__wrapper {
    width: 50%;
  }
}

.news-list__item {
  place-items: center;
  padding: 10px;
}

@media screen and (min-width: 959px) {
  .news-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news-list__meta {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

@media screen and (min-width: 959px) {
  .news-list__meta {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .news-list__meta {
    margin-bottom: 0;
  }
}

.news-list__time {
  color: gray;
  margin-right: 20px;
  display: block;
  font-size: 1.4rem;
}

@media screen and (min-width: 959px) {
  .news-list__time {
    display: inline;
  }
}

.article__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.article__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  margin-bottom: 20px;
}

.article__meta time {
  color: gray;
}

.article__body {
  margin-bottom: 50px;
  min-height: 200px;
}

.postlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.postlink-prev i {
  padding-right: 10px;
}

.postlink-next i {
  padding-left: 10px;
}

.post-categories {
  margin-right: 30px;
}

.post-categories a {
  font-size: 1rem;
  font-weight: bold;
  color: green;
  display: block;
  border: 1px solid green;
  padding: 1px;
}

.wp-pagenavi {
  margin-top: 50px;
  text-align: center;
}

.page-title__contact {
  font-size: 3.5rem;
  margin-top: 3rem;
  position: relative;
  font-weight: bold;
  color: darkgreen;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

@media screen and (min-width: 959px) {
  .page-title__contact {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__contact {
    font-size: 6rem;
    margin-bottom: 150px;
  }
}

.page-title__contact::before {
  font-size: 2rem;
  content: "";
  position: absolute;
  font-weight: normal;
  top: -3rem;
  left: 0.5rem;
}

@media screen and (min-width: 959px) {
  .page-title__contact::before {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 959px) {
  .page-title__contact::before {
    font-size: 2.5rem;
  }
}

.page-title__contact::before {
  content: "Contact";
}

.contact__wrap {
  max-width: 960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .contact__wrap {
    width: 50%;
  }
}

.smf-complete-content {
  text-align: center;
  margin-top: 100px;
}

.contact {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 959px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
}

.contact__aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
}

.contact__phone {
  margin-bottom: 50px;
  position: relative;
  font-size: 3rem;
}

@media screen and (min-width: 959px) {
  .contact__phone {
    margin-bottom: 0px;
  }
}

.contact__phone::after {
  content: "24時間受付";
  font-size: 1.6rem;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
}

@media screen and (min-width: 959px) {
  .contact__line {
    height: 100%;
    border-left: 1px solid darkgreen;
  }
}
/*# sourceMappingURL=style.css.map */