.page-title__aboutus {
    @include page-title;
    &::before {
        content: "About us";
    }
}

.greeting {
    @include pc {
        display: flex;
        flex-flow: row;
    }
    display: flex;
    flex-flow: column;
    margin-right: auto;
    margin-left: auto;
    &__body {
        @include pc {
            order: 1;
            padding-top: 0;
            padding-right: 50px;
            height: 360px;
        }
        // @include tab {
        //     width: 80%;
        //     margin-right: auto;
        //     margin-left: auto;
        // }
        order: 2;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: 1;
        padding-top: 30px;
    }
    &__txt {
        @include pc {
            font-size: 1.6rem;
        }
        font-size: 1.4rem;
    }
    &__signature {
        font-size: 2.4rem;
        text-align: right;
        padding-top: 10px;
        &--secondary {
            font-size: 1.6rem;
        }
    }
    &__img {
        @include pc {
            order: 2;
            width: 360px;
        }
        @include tab {
            width: 360px;
        }
        order: 1;
        position: relative;
        width: 100%;
        height: 360px;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        img {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
        }
    }
}

.overview {
    &__table {
        border-collapse:  collapse;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $spacing-m;
    }
    &__map {
        @include pc {
            height: 400px;
        }
        @include tab {
            height: 400px;
        }
        height: 300px;
        width: 100%;
        border: 0;
    }
}

table {
    @include pc {
        font-size: 1.6rem;
    }
    @include tab {
        font-size: 1.6rem;
        width: 100%;
    }
    font-size: 1.4rem;
}

th, td {
    @include pc {
        padding: 0 30px;
    }
    text-align: left;
    letter-spacing: 1px;
    border-top: 1px solid #dcdcdc;
    &, &:last-child {
        border-bottom: 1px solid #dcdcdc;
    }
}

th {
    @include pc {
        width: 120px;
    }
    @include tab {
        width: 120px;
    }
    width: 70px;
    height: 70px;
    text-align: center;
}

// .company-pic {
//     @include pc {
//         display: flex;
//         justify-content: space-between;
//     }
//     &__img {
//         position: relative;
//         width: 300px;
//         height: 300px;
//         border-radius: 50%;
//         overflow: hidden;
//         img {
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             width: 100%;
//             height: auto;
//         }
//     }
// }
