html {
    font-size: 62.5%;
}

ul, ol, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: inherit;
    letter-spacing: 1px;
}

p {
    margin: 0;
    letter-spacing: 1px;
}

body {
    font-size: 1.6rem;
    font-family: 'Hiragino Mincho Pro',serif;
    line-height: 1.5;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    &:hover {
        text-decoration: underline;
    }
}

// variable

$colors: (
    darkgreen: #006400,
);

@function cl($key) {
    @return map-get($colors, $key);
}

$spacing-s: 10px;
$spacing-m: 50px;
$spacing-l: 150px;

$max-width: 1080px;


// mixin

@mixin wrapper {
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 40px;
}

$breakpoint: 768px;

@mixin pc {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
