// Layout

.l-section {
    margin-bottom: $spacing-l;
}

.l-seciton__link {
    text-align: center;
}

.section-title {
    @include pc {
        font-size: 1.8em;
    }
    font-size: 1em;
    font-weight: bold;
    // color: darkgreen;
    text-align: center;
    margin-bottom: $spacing-m;
    &.--center {
        text-align: center;
    }
}

.wrapper {
    @include wrapper;
}

.flex {
    display: flex;
    // align-items: flex-end;
}

.breadcrumb {
    padding: 30px 0;
}


.link-btn {
    display: inline-block;
    border-radius: 45px;
    background-color: green;
    height: 45px;
    width: 200px;
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    line-height: 45px;
}

.contact {
    @include pc {
        display: flex;
    }
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    &__aside {
        flex: 1;
        position: relative;
        text-align: center;
    }
    &__phone {
        @include pc {
            margin-bottom: 0px;
        }
        margin-bottom: $spacing-m;
        position: relative;
        font-size: 1.8em;
        &::after {
            content: "24時間受付";
            font-size: 0.5em;
            position: absolute;
            top: 40px;
            left: 0px;
            right: 0px;
        }
    }
    &__line {
        @include pc {
            height: 100%;
            border-left: 1px solid darkgreen;
        }
        // display: none;
    }
}