.l-footer {
    background-color: green;
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
    &__wrapper {
        display: flex;
        margin-bottom: $spacing-m;
    }
    &__bottom {
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
}

.footer-company-info {
    @include pc {
        font-size: 1.6rem;
    }
    font-size: 1.2rem;
    &__name {
        @include pc {
            font-size: 2.4rem;
            text-align: left;
        }
        font-size: 2rem;
        text-align: center;
        color: white;
        margin-bottom: $spacing-s;
    }
    &__address {
        color: white;
        margin-bottom: $spacing-s;
    }
    &__phone {
        color: white;
    }
}

.footer-nav {
    @include pc {
        margin-left: auto;
        &__item {
            & + & {
                margin-top: $spacing-s;
            }
            & a {
                color: white;
            }
        }
    }
    display: none;
}