.l-header {
    @include wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.gnav {
    @include pc {
        display: block;
    }
    &__nav {
        display: flex;
    }
    &__item {
        & + & {
            margin-left: 30px;
        }
    }
    display: none;
}

.header-company {
    &__name {
        @include pc {
            font-size: 3rem;
        }
        font-size: 2rem;
    }
}

// .header-phone {
//     position: relative;
//     text-align: center;
//     &::before {
//         content: "24時間受付";
//         position: absolute;
//         top: -25px;
//         left: 0px;
//         right: 0px;
//     }
// }