.page-title__news {
    @include page-title;
    &::before {
        content: "News";
    }
}

.news-list {
    margin-bottom: $spacing-m;
    &__wrapper {
        @include pc {
            width: 50%;
        }
        @include wrapper;
        margin-right: auto;
        margin-left: auto;
    }
    &__item {
        @include pc {
            display: flex;
        }
        place-items: center;
        padding: 10px;
    }
    &__meta {
        @include pc {
            margin-bottom: 0;
        }
        @include tab {
            margin-bottom: 0;
        }
        margin-bottom: 15px;
        display: flex;
        place-items: center;
    }
    &__time {
        @include pc {
            display: inline;
        }
        color: gray;
        margin-right: 20px;
        display: block;
        font-size: 1.4rem;
    }
    &__title {
    }
}

.article {
    &__header {
    }
    &__title {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    &__meta {
        display: flex;
        justify-content: space-between;
        place-items: center;
        margin-bottom: 20px;
        & time {
            color: gray;
        }
    }
    &__body {
        margin-bottom: 50px;
        min-height: 200px;
    }
}

.postlinks {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    & .fa-chevron-right {
        margin-left: 30px;
    }
    & .fa-chevron-left {
        margin-right: 30px;
    }
}

.post-categories {
    margin-right: 30px;
    & a {
        font-size: 1rem;
        font-weight: bold;
        color: green;
        display: block;
        border: 1px solid green;
        padding: 1px;
    }
}