.page-title__news {
    @include page-title;
    &::before {
        content: "News";
    }
}

.news-list {
    margin-bottom: $spacing-m;
    &__wrapper {
        @include pc {
            width: 50%;
        }
        @include wrapper;
        margin-right: auto;
        margin-left: auto;
    }
    &__item {
        @include pc {
            display: flex;
        }
        place-items: center;
        padding: 10px;
    }
    &__meta {
        @include pc {
            margin-bottom: 0;
        }
        @include tab {
            margin-bottom: 0;
        }
        margin-bottom: 15px;
        display: flex;
        place-items: center;
    }
    &__time {
        @include pc {
            display: inline;
        }
        color: gray;
        margin-right: 20px;
        display: block;
        font-size: 1.4rem;
    }
    &__title {
        // 3 点リーダー 1 行の場合
        // @include pc {
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     white-space: nowrap;
        // }
        // 3 点リーダー 2 行以上の場合
        // color: black;
        // height: calc(1.6rem * 2);
        // line-height: 1.6rem;
        // overflow: hidden;
        // position: relative;
        // word-wrap: break-word;
        // &::before {
        //     background: linear-gradient(
        //         to right,
        //         rgba(255, 255, 255, 0) 0%,
        //         rgba(255, 255, 255, 1) 30% /* 背景色 */
        //     );
        //     bottom: 0;
        //     content: "...";
        //     padding-left: 1rem;
        //     position: absolute;
        //     right: 0;
        // }
        // &::after {
        //     background: #fff;
        //     content: "";
        //     height: 100%;
        //     position: absolute;
        //     width: 100%;
        // }
    }
}

.article {
    &__header {
    }
    &__title {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    &__meta {
        display: flex;
        justify-content: space-between;
        place-items: center;
        margin-bottom: 20px;
        & time {
            color: gray;
        }
    }
    &__body {
        margin-bottom: 50px;
        min-height: 200px;
    }
}

.postlinks {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    // & .fa-chevron-right {
    //     margin-left: 10px;
    // }
    // & .fa-chevron-left {
    //     margin-right: 10px;
    // }
}

.postlink-prev i {
    padding-right: 10px;
}

.postlink-next i {
    padding-left: 10px;
}

.post-categories {
    margin-right: 30px;
    & a {
        font-size: 1rem;
        font-weight: bold;
        color: green;
        display: block;
        border: 1px solid green;
        padding: 1px;
    }
}

// WP-PageNavi
.wp-pagenavi {
    margin-top: 50px;
    text-align: center;
    .pages {

    }
    .first {

    }
    .current {

    }
    .page {

    }
    .previouspostslink {

    }
    .nextpostslink {

    }
    .extend {

    }
    .smaller {

    }
    .larger {

    }
}
