.page-title__service {
    position: relative;
    font-size: 6rem;
    font-weight: bold;
    color: darkgreen;
    letter-spacing: 10px;
    margin-top: 6rem;
    margin-bottom: $spacing-l;
    &::before {
        content: "Service";
        position: absolute;
        font-size: 2.5rem;
        font-weight: normal;
        top: -3rem;
        left: 1rem;
    }
}

.service-point {
    @include pc {
        display: flex;
        flex-wrap: wrap;
    }
    @include tab {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        @include pc {
            width: calc(50% - 20px);
        }
        @include tab {
            width: calc(50% - 20px);
        }
        padding: 0px 20px 20px 0px;
    }
    &__title {
        @include pc {
            font-size: 3rem;
        }
        @include tab {
            font-size: 3rem;
        }
        font-size: 2.4rem;
        font-weight: bold;
        color: darkgreen;
    }
    &__txt {
        @include pc {
            font-size: 1.6rem;
        }
        font-size: 1.4rem;
        padding: 10px;
    }
}

.service-flow {
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    &__num {
        color: darkgreen;
        font-size: 3rem;
        line-height: 50px;
        text-align: center;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border: 2px solid darkgreen;
        border-radius: 50%;
    }
    &__body {
        flex: 1;
    }
    &__title {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    &__txt {
        @include pc {
            font-size: 1.6rem;
        }
        font-size: 1.4rem;
    }
}