.hero {
    background-color: #f5f5dc;
    height: 400px;
    margin-bottom: $spacing-m;
    &__wrapper {
        @include wrapper;
        position: relative;
    }
    &__txt {
        font-size: 3rem;
        position: absolute;
        top: 50px;
        left: 0px;
    }
}

.aboutus {
    @include pc {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    margin-bottom: $spacing-m;
    &__item {
        @include pc {
            & + & {
                margin-left: 20px;
            }
        }
        display: flex;
        flex-flow: column;
        width: 100%;
        margin-bottom: $spacing-m;
    }
    &__body {
        order: 2;
    }
    &__icon {
        color: darkgreen;
    }
    &__title {
        @include pc {
            font-size: 2rem;
        }
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 20px;
    }
    &__txt {
        @include pc {
            font-size: 1.6rem;
        }
        font-size: 1.4rem;
        padding: 0 10px;
    }
    &__img {
        order: 1;
        position: relative;
        flex-shrink: 0;
        height: 200px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            object-fit: cover;
        }
    }
}

.service-list {
    margin-bottom: $spacing-m;
    &__wrapper {
        @include pc {
            flex-flow: row;
        }
        display: flex;
        flex-flow: column;
    }
    &__item {
        margin-bottom: 50px;
    }
    &__body {
        order: 2;
        padding: 10px 10px 10px 20px;
        background-color: rgba(245, 245, 220, 0.3);
    }
    &__title {
        @include pc {
            font-size: 2rem;
            text-align: left;
        }
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 10px;
    }
    &__txt {
        @include pc {
            font-size: 1.6rem;
        }
        font-size: 1.4rem;
    }
    &__img {
        @include pc {
            height: 200px;
            width: 200px;
        }
        order: 1;
        position: relative;
        flex-shrink: 0;
        height: 200px;
        width: 100%;
        overflow: hidden;
        &.--large {
            height: 300px;
            width: 300px;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            object-fit: cover;
        }
    }
    &__price {
        margin-top: 30px;
    }
}

.news-list {
    margin-bottom: $spacing-m;
    &__item {
        & + & {
            margin-top: 20px;
        }
    }
    &__date {
        @include pc {
            display: inline;
        }
        display: block;
    }
    &__body {
        @include pc {
            margin-left: 20px;
        }
        margin-left: 0;
    }
}