.hero {
    &__image {
        // background-color: #f5f5dc;
        background-image: url(../image/hero.jpg);
        background-size: cover;
        background-position: center;

        @include pc {
            height: 600px;
        }

        @include tab {
            height: 400px;
        }

        height: 300px;
        margin-bottom: $spacing-m;
        position: relative;
    }

    &__wrap {
        @include pc {
            max-width: 960px;
        }
        width: 100%;
        padding: 0 20px;
        position: absolute;
        // top: 0;
        top: 50%;
        left: 50%;
        // transform: translateX(-50%);
        transform: translate(-50%, -50%);
    }

    &__txt {
        @include pc {
            font-size: 3.6rem;
        }

        // position: absolute;
        font-size: 2.4rem;
        color: white;
        // top: 100px;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        letter-spacing: 5px;
        text-align: center;
    }

    &__txt--small {
        @include pc {
            font-size: 1.6rem;
        }
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}

.hero__image::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    padding: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.aboutus {
    @include pc {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    margin-bottom: $spacing-m;

    &__message {
        @include pc {
            text-align: center;
        }

        @include tab {
            text-align: center;
        }

        margin-bottom: 50px;
        // border-radius: 5px;
        // padding: 0 10px;
    }

    &__item {
        @include pc {
            margin-bottom: 0;

            &+& {
                margin-left: 20px;
            }
        }

        place-items: center;
        display: flex;
        flex-flow: column;
        width: 100%;
        margin-bottom: $spacing-m;
    }

    &__icon {
        color: darkgreen;
    }

    &__title {
        @include pc {
            font-size: 2rem;
        }

        position: relative;
        padding-bottom: 30px;
        // padding-left: 150px;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.8rem;
        width: 100%;

        &::before {
            content: attr(data-number);
            position: absolute;
            left: -10px;
            // left: 75px;
            display: block;
            // margin-bottom: 50px;
            color: darkgreen;
            font-size: 4rem;
            font-weight: bold;
        }
    }

    &__txt {
        @include pc {
            font-size: 1.6rem;
        }

        order: 2;
        font-size: 1.4rem;
        padding: 30px 10px 10px 10px;
        text-align: justify;
    }

    &__img {
        order: 1;
        position: relative;
        flex-shrink: 0;
        height: 200px;
        width: 200px;
        overflow: hidden;
        // border-radius: 50%;
        margin-right: auto;
        margin-left: auto;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            object-fit: contain;
        }
    }
}

.service-list {
    margin-bottom: $spacing-m;

    &__wrapper {
        display: flex;
        flex-flow: column;
        gap: 30px;

        @include pc {
            flex-flow: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        @include pc {
            width: calc((100% - 30px * 2) / 3);
        }

        width: 100%;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        text-align: center;
    }

    &__title {
        font-size: 1.6rem;
    }

    &__img {
        @include pc {
            height: 150px;
        }

        order: 1;
        margin-bottom: 20px;
        height: 100px;
        // width: 100%;
        text-align: center;

        img {
            width: auto;
            height: 100px;

            @include pc {
                height: 150px;
            }
        }
    }

    // &__txt {
    //     @include pc {
    //         font-size: 1.6rem;
    //         padding-top: 10px;
    //     }
    //     font-size: 1.4rem;
    // }
    // &__body {
    //     @include pc {
    //         padding: 0 0 0 30px;
    //     }
    //     // @include tab {
    //     //     width: 60%;
    //     // }
    //     // @include tab {
    //     //     padding: 0 0 0 30px;
    //     // }
    //     padding: 30px 10px 10px 10px;
    //     order: 2;
    //     // background-color: rgba(245, 245, 220, 0.3);
    //     // min-height: 120px;
    // }
    // &__price {
    //     @include pc {
    //         font-size: 1.6rem;
    //     }
    //     font-size: 1.4rem;
    //     margin-top: 30px;
    // }
}